{% extends "::base.html.twig" %}


{% block body %}
  {% if is_granted('ROLE_ADMIN') %}
  <!DOCTYPE html>
  <html lang="en">
    <body>
      <h1 style="text-align: center; font-family: cursive;">
      <h1 style="text-align:center; font-family: Cursive;"> MES NOTES </h1>
      {% for sheet in sheets %}
 
            <strong>
<div class="alert alert-success">
              {% if is_granted('ROLE_SUPER_ADMIN') %}
             	 <a href="{{ path('admin_delete_article', {'id': sheet.id }) }}"><button type="button" class="btn btn-danger">Supprimer</button></a> 
              {%endif%}
              <h3 style="text-align: center;">{{sheet.name}}</h3>
        
            </strong>
          <img class="img-responsive center-block"
            src="{{ asset(sheet.image.webPath) }}"
            alt="{{ sheet.image.alt }}"
          />
          <div class="alert col-lg-12"><legend style="text-align:center;">
            <h2 style="text-align:center; color: #01DF3A; ">{{sheet.titre1}}</h2></br>
            <h4 style="text-align:center;">{{sheet.etape1|nl2br}}</h4></br>
            <h2 style="text-align:center; color: #01DF3A">{{sheet.titre2}}</h2></br>
            <h4 style="text-align:center;">{{sheet.etape2|nl2br}}</h4></br>
            <h2 style="text-align:center; color: #01DF3A">{{sheet.titre3}}</h2></br>
            <h4 style="text-align:center;">{{sheet.etape3|nl2br}}</h4></br>
        </div>
        </br>
        </br>
      {% endfor %}
      </h1>
  </big> 
  <a href="{{ path('fos_user_security_login')}}"><h3>Espace admin</h3></a>
</body>
</html>
{% endif %}
{% endblock %}
